# --- API KEYS ---
GOOGLE_BOOKS_KEY="your_google_books_key_here"
TMDB_API_KEY="your_tmdb_api_key_here"
BARCODE_LOOKUP_KEY="your_barcode_lookup_key_here"
OMDB_API_KEY="your_omdb_api_key_here"
DISCOGS_API_KEY="your_discogs_api_key_here"
COMIC_VINE_KEY="your_comic_vine_key_here"

# --- INFRAESTRUCTURA Y SISTEMA ---
BUNKER_API_URL="http://localhost:8009"
STOCKFISH_PATH="/usr/games/stockfish"
